*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  height: -webkit-fill-available;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.5rem;
}

a:hover {
  text-decoration-line: underline;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  height: -webkit-fill-available;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.container {
  width: 80%;
  max-width: 940px;
  margin: 0 auto;
}

.primary-header {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.primary-header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.primary-header .brand {
  font-size: 2rem;
  margin-right: auto;
}

.primary-header .brand span {
  font-weight: bold;
}

main {
  flex: 1;
  margin: 2rem 0;
}

main .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.image-slides {
  display: flex;
  overflow: hidden;
  position: relative;
  margin-bottom: 0.5rem;
}

.image-slide:not(:first-child) {
  display: none;
}

.image-slider-controls {
  display: flex;
  justify-content: space-between;
}

.image-slider-left,
.image-slider-right {
  background-color: transparent;
  border: 2px solid black;
  font-size: 1.5rem;
  cursor: pointer;
}

.image-slider-navigation button {
  border: 2px solid black;
  border-radius: 50%;
  background-color: transparent;
  padding: 0.5rem;
  aspect-ratio: 1;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.image-slider-navigation button:not(:last-child) {
  margin-right: 0.25rem;
}

.image-slider-navigation button.active {
  background-color: black;
}

.primary-footer {
  text-align: center;
  padding: 1rem 0;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

@media screen and (max-width: 650px) {
  .container {
    width: 95%;
  }
}
